.products_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}
.products_content{
    width: 300px;
    height: 350px;
    border: 1px solid blue;
    padding: 10px; 
}

.products_content img{
    width: 100%;
    height: 50%;
}