
<p>{{date | date:'short'}}</p>
<h2>{{grestings | async}}</h2>
<label for="search">Search Prodcut</label><br>
<input [(ngModel)]="category"/>

<div class="products_container" *ngFor="let products of product |filter:category">
    <div class="products_content">
        <img src="{{products.image}}"alt="">
        <h1>{{products.name | uppercase}}</h1>
        <p>{{products.description | shorten:16}}</p>
        <p>{{products.price | currency:"KSH "}}</p>
        <p>{{products.category}}</p>
    </div>
</div>
